@using VRT.Resume.Application.Persons.Queries.GetPersonEducation;
@model PersonEducationInListVM[]


@{ 
    var eduList = Model == null
        ? new PersonEducationInListVM[0]
        : Model.OrderByDescending(o => o.FromDate).ThenByDescending(o => o.ToDate).ToArray();
}

@Html.Partial("_AddToolbar", new EditDeleteToolbarData("PersonEdu",0,TabNames.Education))

<div class="table-responsive">    
    <table class="table mt-0">        
        <thead>
            <tr>
                <th scope="col">@Html.GetLabel(LabelNames.SchoolName)</th>
                <th scope="col">@Html.GetLabel(LabelNames.Field)</th>
                <th scope="col">@Html.GetLabel(LabelNames.Degree)</th>                
                <th scope="col">@Html.GetLabel(LabelNames.FromDate)</th>
                <th scope="col">@Html.GetLabel(LabelNames.ToDate)</th>
                <th scope="col">@Html.GetLabel(LabelNames.Specialization)</th>
                <th scope="col">@Html.GetLabel(LabelNames.ThesisTitle)</th>
                <th scope="col">@Html.GetLabel(LabelNames.Grade)</th>
                <th scope="col">@Html.GetLabel(LabelNames.Actions)</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var m in Model)
            {
                <tr>
                    <td>@m.SchoolName</td>
                    <td>@m.Field</td>
                    <td>@m.Degree</td>
                    <td class="text-nowrap" >@m.FromDate.ToDateString()</td>
                    <td class="text-nowrap">@m.ToDate.ToDateString()</td>
                    <td>@m.Specialization</td>
                    <td>@m.ThesisTitle</td>
                    <td>@m.Grade</td>
                    <td class="text-nowrap">
                        @Html.Partial("_EditDeleteToolbar", new EditDeleteToolbarData("PersonEdu", m.EducationId))                        
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

