@model EditDeleteToolbarData
@{
    if(Model==null)
    {
        return;
    }
    var editButtonLabel = Html.GetLabel(LabelNames.ButtonEditData);
    var deleteButtonLabel = Html.GetLabel(LabelNames.ButtonDelete);
}

<div class="skill-toolbar">
    <a href="@Url.Action("Edit", @Model.Controller, new { id = Model.EntityId })">
        <img src="@Url.Content("~/Content/img/btn-edit.svg")"
             alt="@editButtonLabel" title="@editButtonLabel" />
    </a>
    <a href="@Url.Action("Delete", @Model.Controller, new { id = Model.EntityId })">
        <img src="@Url.Content("~/Content/img/btn-delete.svg")"
             alt="@deleteButtonLabel" title="@deleteButtonLabel" />
    </a>
</div>