<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="description" content="Simple resume generator by Tomasz Rutkowski" />
    <meta content="IE=EDGE, chrome=1" http-equiv="X-UA-Compatible" />    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">    
    <title>Resume Generator 1.0</title>
    <link rel="shortcut icon" href="~/Content/img/resume.png?v=3" />
    @Styles.Render("~/Content/css")
    <link href="@Url.Content("~/Content/Resume.css")" rel="stylesheet" type="text/css" />
    @Scripts.Render("~/bundles/modernizr")
</head>

<body class="d-flex flex-column">
    @Html.Partial("_MenuBar")
    <div class="wrapper flex-grow-1">
        <div class="container body-content">
            @RenderBody()
        </div>
    </div>
    @Html.Partial("_ActionResult")
    <footer class="footer">
        <p>&copy; Tomasz Rutkowski @(DateTime.Now.Year==2020 ? "":"2020-")@DateTime.Now.Year - My Resume generator</p>
    </footer>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/site")
    @RenderSection("scripts", required: false)
</body>
</html>
