@{ 
    var userInfo = User.AsUserLoginViewModel();    
}

<nav class="navbar navbar-expand-lg navbar-light bg-light">

    <div class="brand-container">
        <a class="navbar-brand" href='@Url.Action("Index", "Home")'>
            <img src='@Url.Content("~/Content/img/resume.png")' />
        </a>
    </div>

    <button class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#navbarContent"
            aria-controls="navbarContent"
            aria-expanded="false"
            aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarContent">
        <ul class="navbar-nav mr-auto">
            @if (User.Identity.IsAuthenticated)
            {
                <li class="nav-item">
                    <a class="nav-link" href='@Url.Action("Index", "Home")'>
                        @Html.GetLabel(LabelNames.PageResume)
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href='@Url.Action("Index", "Person")'>
                        @Html.GetLabel(LabelNames.PageProfile)
                    </a>
                </li>
                
            }
        </ul>
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href='@Url.Action("About", "Home")'>
                    @Html.GetLabel(LabelNames.PageAbout)
                </a>
            </li>            
            @if (userInfo != null)
            {
                <li class="nav-item nav-initials align-middle justify-content-center">
                    <a class=""
                       href='@Url.Action("Index", "Account")' title="@(userInfo.Email)&#013;@(userInfo.FirstName) @(userInfo.LastName)">
                        @userInfo.GetInitials()
                    </a>
                </li>
            }
            else
            {
                <li class="nav-item">
                    <a class="nav-link font-weight-bold" href='@Url.Action("Index", "Account")'>Sign In</a>
                </li>
            }
        </ul>
    </div>
</nav>
