@using VRT.Resume.Application.Resumes.Queries.GetResume
@model EducationDto[]

@{
    var eduList = Model == null
        ? new EducationDto[0]
        : Model;
    var eduListQuery = eduList
        .OrderByDescending(o => o.FromDate)
        .ThenByDescending(o => o.ToDate);
}
<div class="resume-education-list">
    @foreach (var edu in eduListQuery)
    {
    <div class="resume-edu-item">
        <div class="resume-timeline-item-title">
            @edu.AsTimeRange("yyyy") - @edu.Field
        </div>
        <div class="resume-edu-value resume-timeline-item-title-1">
            <span>@edu.SchoolName</span>
        </div>
        <div class="resume-timeline-item-title-2">
            Tytuł/stopień wykształcenia: <span class="resume-edu-value">@edu.Degree</span>
        </div>
        <div class="resume-edu-title">
            Specjalizacja: <span class="resume-edu-value">@edu.Specjalization</span>
        </div>
        <div class="resume-edu-title">
            Tytuł pracy dyplomowej: <span class="resume-edu-value">@edu.ThesisTitle</span>
        </div>
        <div class="resume-edu-title">
            Ocena końcowa: <span class="resume-edu-value">@edu.FinalGrade</span>
        </div>
    </div>
    }
</div>