<legend>@Html.GetLabel(LabelNames.ButonChangeImg) </legend>

<div class="profile-person-image">
    <div class="profile-image-container">
        <img class="profile-image" width="140" src="@Url.Action("ProfileImage", "Images")" alt="User photo">
    </div>
    @using (Html.BeginForm("Save", null, FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
        <fieldset class="border-bottom">
            <div class="upload-btn-wrapper">
                <input type="file" name="file" accept="image/x-png,image/gif,image/jpeg" required />                
            </div>
        </fieldset>
        @Html.Partial("_SaveCancelFieldset");
    }
</div>