@using VRT.Resume.Application.Resumes.Queries.GetResumeSkillList
@model ResumeSkillListVM

@if (Model == null || Model.ResumeSkills == null || Model.ResumeSkills.Length == 0)
{
    <b>No data found</b>
    return;
}

@using (Html.BeginForm("Save", null, FormMethod.Post))
{
    var skills = Model;

    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    @Html.HiddenFor(m => skills.ResumeId)
    <div class="mb-4 border-bottom" style="height:70vh; overflow:auto">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">@Html.GetLabel(LabelNames.Name)</th>
                    <th scope="col">@Html.GetLabel(LabelNames.Type)</th>
                    <th scope="col">@Html.GetLabel(LabelNames.Relevant)</th>
                    <th scope="col">@Html.GetLabel(LabelNames.Hidden)</th>
                    <th scope="col">@Html.GetLabel(LabelNames.Position)</th>
                </tr>
            </thead>
            <tbody>
                @for (int i = 0; i < skills.ResumeSkills.Length; i++)
                {
                    var skill = skills.ResumeSkills[i];
                <tr>
                    <td>
                        @Html.HiddenFor(m => skills.ResumeSkills[i].SkillId)
                        @skill.Name
                    </td>
                    <td>
                        @skill.Type
                    </td>
                    <td>
                        @Html.CheckBoxFor(m => skills.ResumeSkills[i].IsRelevant)
                    </td>
                    <td>
                        @Html.CheckBoxFor(m => skills.ResumeSkills[i].IsHidden)
                    </td>
                    <td>
                        @Html.EditorFor(m => skills.ResumeSkills[i].Position, new { 
                              htmlAttributes = new { @class = "form-control col-md-5", title = "More important skills shoud have higher values" } })
                    </td>
                </tr>
                }
            </tbody>
        </table>
    </div>
    @await Html.PartialAsync("_SaveCancelFieldset")    
}