@model IEnumerable<CultureSettingsViewModel>

<div class="profile-person-data">

    @using (Html.BeginForm(null, null, FormMethod.Post))
    {           
        <div class="form-group">
            @Html.Label("Lang", Html.GetLabel(LabelNames.Language).ToString(), htmlAttributes: new { @class = "control-label" })            
            @Html.CulturesDropdown(Model, "Lang")            
        </div>        
        @Html.Partial("_SaveCancelFieldset")
    }
</div>

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/jqueryval")
